extends layout.pug
block content
  h1 Create New Department
  p
    b #{msg}
  hr
  h2 Fill the form
  form.form-horizontal(action='/api/department/', method='post')
    .form-group
      label.control-label.col-sm-2(for='departmentID') Department ID:
      .col-sm-10
        input.form-control#departmentid(type='ID', name='departmentID', placeholder='Enter Department ID')
    .form-group
      label.control-label.col-sm-2(for='departmentName') Department Name:
      .col-sm-10
        input.form-control#departmentname(type='name', name='departmentName', placeholder='Enter Department Name')

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Submit
