extends layout.pug
block content
  h1 Create New Location
  p
    b #{msg}
  hr
  h2 Fill the form
  form.form-horizontal(action='/api/location/', method='post')
    .form-group
      label.control-label.col-sm-2(for='locationId') Location ID:
      .col-sm-10
        input.form-control#locationId(type='ID', name='locationId', placeholder='Enter Location ID')
    .form-group
      label.control-label.col-sm-2(for='locationName') Location Name:
      .col-sm-10
        input.form-control#locationName(type='name', name='locationName', placeholder='Enter Location Name')

    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Submit
