.col-sm-2.sidenav
  p
    a(href="/createEmployee") Create Employee
  p
    a(href="/createDepartment") Create Department
  p
    a(href="/createDesignation") Create Designation
  p
    a(href="/createGrade") Create Grade
  p
    a(href="/createLocation") Create Location
  p
    a(href="/createAttendencepolicy") Create Attendencepolicy
  p
    a(href="/attendanceReport") Attendance Report
  p 
    a(href="/customReport") Custom Report
